<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="index.html">
                  <img src="assets/images/bb.png" alt="">
                </a>
              </figure>
            </div>

            <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p>Rue Ibn Al Jazzar 3000 Sfax, Sfax</p>
              </li>
              <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="#">
                  <p>industries4.0@iit.ens.tn</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>(+216) 74 46 50 20</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li><a href="https://www.facebook.com/Tunisie.industrie4.0/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/watch?v=yXpKQT5x0b4"><i class="fa fa-youtube"></i></a></li>
            </ul>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; Copyright 2018. All Rights Reserved by
          <a routerLink="/home" routerLinkActive="active">Home</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a routerLink="/speakers">speakers</a>
        </li>
        <li>
          <a routerLink="/program">Program</a>
        </li>
        <li>
          <a routerLink="/team" routerLinkActive="active">Team</a>
        </li>
        <li>
          <a routerLink="/gallery" routerLinkActive="active" >Gallery</a>
        </li>

        <li>
          <a routerLink="/register" routerLinkActive="active" >Registration</a>
        </li>

        <li>
          <a routerLink="/contact" routerLinkActive="active" >Contact</a>
        </li>

      </ul>
    </div>
  </div>
</footer>
