<div class="page-wrapper">

  <app-header></app-header>
  <app-navbar></app-navbar>




  <div class="home">
    <div class="home_slider_container">
      <div class="owl-carousel owl-theme home_slider">

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Home Slider Dots -->
      <div class="home_slider_dots_container">
        <div class="home_slider_dots">
          <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
            <li class="home_slider_custom_dot active">01.</li>
            <li class="home_slider_custom_dot">02.</li>
            <li class="home_slider_custom_dot">03.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <!--Service Section-->
  <section class="service-section bg-gray section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3>Collected Media of
              <span>1st edition</span>
            </h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v1.mp4" controls="controls" ></video>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v2.mp4" controls="controls" ></video>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v3.mp4" controls="controls" ></video>
          </div>
        </div>

      </div>
    </div>


    <div class="container">

      <div class="row items-container clearfix">
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/1.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/2.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/3.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/4.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/5.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/6.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/7.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/8.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/9.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/10.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/11.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/12.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/13.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/14.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/15.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/16.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/17.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/18.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/19.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/20.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/21.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/22.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/23.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/24.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/25.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/26.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/27.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/28.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>




      </div>
    </div>
  </section>



  <section class="service-section bg-gray section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3>Collected Media of
              <span>2nd edition</span>
            </h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v1.mp4" controls="controls" ></video>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v2.mp4" controls="controls" ></video>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v3.mp4" controls="controls" ></video>
          </div>
        </div>

      </div>
    </div>


    <div class="container">

      <div class="row items-container clearfix">
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/1.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/2.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/3.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/4.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/5.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/6.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/7.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/8.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/9.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/10.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/11.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/12.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/13.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/14.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/15.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/16.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/17.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/18.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/19.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/20.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/21.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/22.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/23.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/24.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/25.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/26.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/27.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/28.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>




      </div>
    </div>
  </section>
  <!--End Service Section-->

  <!--footer-main-->
  <!--footer-main-->
  <footer class="footer-main">
    <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="about-widget">
              <div class="footer-logo">
                <figure>
                  <a href="index.html">
                    <img src="assets/images/bb.png" alt="">
                  </a>
                </figure>
              </div>

              <ul class="location-link">
                <li class="item">
                  <i class="fa fa-map-marker"></i>
                  <p>Rue Ibn Al Jazzar 3000 Sfax, Sfax</p>
                </li>
                <li class="item">
                  <i class="fa fa-envelope-o" aria-hidden="true"></i>
                  <a href="#">
                    <p>industries4.0@iit.ens.tn</p>
                  </a>
                </li>
                <li class="item">
                  <i class="fa fa-phone" aria-hidden="true"></i>
                  <p>(+216) 74 46 50 20</p>
                </li>
              </ul>
              <ul class="list-inline social-icons">
                <li><a href="https://www.facebook.com/Tunisie.industrie4.0/"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://www.youtube.com/watch?v=yXpKQT5x0b4"><i class="fa fa-youtube"></i></a></li>
              </ul>
            </div>
          </div>


        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="container clearfix">
        <div class="copyright-text">
          <p>&copy; Copyright 2018. All Rights Reserved by
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </p>
        </div>
        <ul class="footer-bottom-link">
          <li>
            <a routerLink="/speakers">speakers</a>
          </li>
          <li>
            <a routerLink="/program">Program</a>
          </li>
          <li>
            <a routerLink="/team" routerLinkActive="active">Team</a>
          </li>
          <li>
            <a routerLink="/gallery" routerLinkActive="active" >Gallery</a>
          </li>

          <li>
            <a routerLink="/register" routerLinkActive="active" >Registration</a>
          </li>

          <li>
            <a routerLink="/contact" routerLinkActive="active" >Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </footer>
  <!--End footer-main-->  <!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>
<div class="page-wrapper">
  <!-- Preloader -->
  <!-- <div class="preloader"></div> -->
  <!-- Preloader -->



  <!--header top-->
  <div class="header-top">
    <div class="container clearfix">
      <div class="top-left">

      </div>
      <div class="top-right">
        <ul class="social-links">
          <li>
            <a href="https://www.facebook.com/Tunisie.industrie4.0/">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="https://www.youtube.com/watch?v=yXpKQT5x0b4">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </li>


        </ul>
      </div>
    </div>
  </div>
  <!--header top-->

  <!--Header Upper-->
  <section class="header-uper">
    <div class="container clearfix">
      <div class="logo">
        <figure>
          <a href="index.html">
            <img src="assets/images/bb.png" alt="" width="130">
          </a>
        </figure>
      </div>
      <div class="right-side">
        <ul class="contact-info">
          <li class="item">
            <div class="icon-box">
              <i class="fa fa-envelope-o"></i>
            </div>
            <strong>Email</strong>
            <br>
            <a href="#">
              <span>industries4.0@iit.ens.tn</span>
            </a>
          </li>
          <li class="item">
            <div class="icon-box">
              <i class="fa fa-phone"></i>
            </div>
            <strong>Call Now</strong>
            <br>
            <span>(+216) 74 46 50 20</span>
          </li>
        </ul>

      </div>
    </div>
  </section>
  <!--Header Upper-->


  <!--Main Header-->
  <nav class="navbar navbar-default">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="active">
            <a routerLink="/home" routerLinkActive="active">Home</a>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Speakers
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" >
              <li><a routerLink="/speaker_firstedition" routerLinkActive="active" style="color: currentColor;">Speaker(1st Edition)</a></li>
              <li><a routerLink="/speaker_secondedition" routerLinkActive="active" style="color: currentColor;">Speaker (2nd Editon)</a></li>
              <li><a routerLink="/speaker_thirdedition" routerLinkActive="active" style="color: currentColor;">Speaker (3rd Editon)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Programs
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" >
              <li><a routerLink="/program_firstedition" routerLinkActive="active" style="color: currentColor;">Program(1st Edition)</a></li>
              <li><a routerLink="/program_secondedition" routerLinkActive="active" style="color: currentColor;">Program(2nd Editon)</a></li>
              <li><a routerLink="/program_thirdedition" routerLinkActive="active" style="color: currentColor;">Program (3rd Editon)</a></li>
            </ul>
          </li>

          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Editions
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" >
              <li>
                <a routerLink="/firstedit" routerLinkActive="active" style="color: currentColor;">1st Edition</a>
              </li>
              <li>
                <a routerLink="/secondedit" routerLinkActive="active" style="color: currentColor;">2nd Edition</a>
              </li>

            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Teams
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" >
              <li><a routerLink="/team_firstedition" routerLinkActive="active" style="color: currentColor;">Team(1st Edition)</a></li>
              <li><a routerLink="/team_secondedition" routerLinkActive="active" style="color: currentColor;">Team (2nd Editon)</a></li>
              <li><a routerLink="/team_thirdedition" routerLinkActive="active" style="color: currentColor;" disabled="true">Team (3rd Editon)</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">Gallery
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" >
              <li><a routerLink="/team_firstedition" routerLinkActive="active" style="color: currentColor;">Gallery(1st Edition)</a></li>
              <li><a routerLink="/team_secondedition" routerLinkActive="active" style="color: currentColor;">Gallery (2nd Editon)</a></li>
              <li><a routerLink="/team_thirdedition" routerLinkActive="active" style="color: currentColor;" disabled="true">Gallery (3rd Editon)</a></li>
            </ul>
          </li>
          <li>
            <a routerLink="/register" routerLinkActive="active" >Registration</a>
          </li>

          <li>
            <a routerLink="/contact" routerLinkActive="active" >Contact</a>
          </li>

        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <!--End Main Header -->

  <!--=================================
  =            Page Slider            =
  ==================================-->
  <div class="hero-slider">
    <!-- Slider Item -->
    <div class="slider-item slide1" style="background-image:url(assets/images/slider/slider-bg-1.jpg)">

    </div>

  </div>

  <!--====  End of Page Slider  ====-->


  <!--Service Section-->
  <section class="service-section bg-gray section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3>Collected Media of
              <span>1st edition</span>
            </h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v1.mp4" controls="controls" ></video>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v2.mp4" controls="controls" ></video>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v3.mp4" controls="controls" ></video>
          </div>
        </div>

      </div>
    </div>


    <div class="container">

      <div class="row items-container clearfix">
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/1.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/2.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/3.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/4.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/5.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/6.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/7.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/8.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/9.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/10.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/11.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/12.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/13.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/14.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/15.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/16.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/17.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/18.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/19.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/20.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/21.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/22.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/23.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/24.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/25.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/26.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/27.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/28.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>




      </div>
    </div>
  </section>



  <section class="service-section bg-gray section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-title text-center">
            <h3>Collected Media of
              <span>2nd edition</span>
            </h3>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v1.mp4" controls="controls" ></video>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v2.mp4" controls="controls" ></video>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="video-gallery-item">

            <video src="assets/images/gallery/v3.mp4" controls="controls" ></video>
          </div>
        </div>

      </div>
    </div>


    <div class="container">

      <div class="row items-container clearfix">
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/1.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/2.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/3.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/4.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/5.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/6.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/7.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/8.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/9.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/10.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/11.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/12.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/13.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/14.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/15.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/16.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/17.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/18.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>
        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/19.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/20.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/21.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/22.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/23.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/24.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/25.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/26.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/27.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>

        <div class="item">
          <div class="img_holder">
            <img src="assets/images/gallery/28.jpg" alt="assets/images" class="img-responsive">
          </div>
        </div>




      </div>
    </div>
  </section>
  <!--End Service Section-->

  <!--footer-main-->
  <!--footer-main-->
<app-footer></app-footer>  <!--End footer-main-->  <!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>
