<div class="page-wrapper">
<app-header></app-header>
  <app-navbar></app-navbar>


  <div class="home">
    <div class="home_slider_container">
      <div class="owl-carousel owl-theme home_slider">

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Home Slider Dots -->
      <div class="home_slider_dots_container">
        <div class="home_slider_dots">
          <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
            <li class="home_slider_custom_dot active">01.</li>
            <li class="home_slider_custom_dot">02.</li>
            <li class="home_slider_custom_dot">03.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>



  <section class="feature-section section bg-gray" *ngIf="edition">
    <div class="container" *ngFor="let c1 of edition">
      <div class="row">
        <div class="col-sm-12 col-xs-12">
          <div class="image-content">
            <div class="section-title text-center">
              <h3>Editions
                <span>de L'industrie4.0 </span>
              </h3>
              <p>{{c1.description}}</p>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="item">
                  <div class="icon-box">
                    <figure>
                      <a href="#">
                        <img src="assets/images/resource/1.png" alt="">
                      </a>
                    </figure>
                  </div>
                  <h6>Nom</h6>
              <b>  {{c1.nom}}</b>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item">
                  <div class="icon-box">
                    <figure>
                      <a href="#">
                        <img src="assets/images/resource/2.png" alt="">
                      </a>
                    </figure>
                  </div>
                  <h6>Lieu</h6>
                  <b><p>{{c1.lieu}}</p></b>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item">
                  <div class="icon-box">
                    <figure>
                      <a href="">
                        <img src="assets/images/resource/3.png" alt="">
                      </a>
                    </figure>
                  </div>
                  <h6>Date</h6>
                  <b> <p>{{c1.date|date:'MM/dd/yyyy' }}</p></b>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="item">
                  <div class="icon-box">
                    <figure>
                      <a href="#">
                        <img src="assets/images/resource/4.png" alt="">
                      </a>
                    </figure>
                  </div>
                  <h6>Nombre de participant</h6>
                  <b><p>{{c1.nbparticpate}}</p></b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--End about section-->



  <!--footer-main-->
<app-footer></app-footer>
  <!--End footer-main-->  <!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>
