<div class="page-wrapper">
  <app-header></app-header>
  <app-navbar></app-navbar>
  <div class="hero-slider">
    <!-- Slider Item -->
    <div class="slider-item slide1" style="background-image:url(assets/images/slider/slider-bg-1.jpg)">

    </div>

  </div>

  <!--==================================
  =            Contact Form            =
  ===================================-->
  <section class="section contact">
    <!-- container start -->
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <!-- address start -->
          <div class="address-block">
            <!-- Location -->
            <div class="media">
              <i class="fa fa-map-o"></i>
              <div class="media-body">
                <h3>Location</h3>
                <p>COMPLEXE CULTUREL MOHAMED JAMOUSSI
                  <br> Rue Ibn Al Jazzar 3000 Sfax, Sfax</p>
              </div>
            </div>
            <!-- Phone -->
            <div class="media">
              <i class="fa fa-phone"></i>
              <div class="media-body">
                <h3>Phone</h3>
                <p>
                  (+216) 74 46 50 20

                </p>
              </div>
            </div>
            <div class="media">
              <i class="fa fa-fax"></i>
              <div class="media-body">
                <h3>Fax</h3>
                <p>
                  (+216) 74 46 15 88

                </p>
              </div>
            </div>
            <!-- Email -->
            <div class="media">
              <i class="fa fa-envelope-o"></i>
              <div class="media-body">
                <h3>Email</h3>
                <p>
                  industries4.0@iit.ens.tn

                </p>
              </div>
            </div>
          </div>
          <!-- address end -->
        </div>
        <div class="col-md-8">
          <div class="contact-form">
            <!-- contact form start -->
            <form action="#" class="row">
              <!-- name -->
              <div class="col-md-6">
                <input type="text" name="name" class="form-control main" placeholder="Name" required>
              </div>
              <!-- email -->
              <div class="col-md-6">
                <input type="email" class="form-control main" placeholder="Email" required>
              </div>
              <!-- phone -->
              <div class="col-md-12">
                <input type="text" class="form-control main" placeholder="Phone" required>
              </div>
              <!-- message -->
              <div class="col-md-12">
                <textarea name="message" rows="15" class="form-control main" placeholder="Your message"></textarea>
              </div>
              <!-- submit button -->
              <div class="col-md-12 text-right">
                <button class="btn btn-style-one" type="submit">Send Message</button>
              </div>
            </form>
            <!-- contact form end -->
          </div>
        </div>
      </div>
    </div>
    <!-- container end -->
  </section>
  <!--====  End of Contact Form  ====-->

  <!--================================
  =            Google Map            =
  =================================-->
  <section class="map">
    <div id="map"></div>
  </section>




  <!--====  End of Google Map  ====-->

  <!--footer-main-->
  <!--footer-main-->
  <app-footer></app-footer>
  <!--End footer-main-->  <!--End footer-main-->

</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>
