<div class="page-wrapper">
  <app-header></app-header>
  <app-navbar></app-navbar>




  <div class="home">
    <div class="home_slider_container">
      <div class="owl-carousel owl-theme home_slider">

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Slide -->
        <div class="slide">
          <div class="background_image" style="background-image:url(assets/images/slider/slider-bg-1.jpg)"></div>
          <div class="home_container">
            <div class="container">
              <div class="row">
                <div class="col">
                  <div class="home_content text-center">
                    <div class="home_title">A Luxury Stay</div>
                    <div class="booking_form_container">
                      <form action="#" class="booking_form">
                        <div class="d-flex flex-xl-row flex-column align-items-start justify-content-start">
                          <div class="booking_input_container d-flex flex-lg-row flex-column align-items-start justify-content-start">
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_in" placeholder="Check in" required="required"></div>
                            <div><input type="text" class="datepicker booking_input booking_input_a booking_out" placeholder="Check out" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Children" required="required"></div>
                            <div><input type="number" class="booking_input booking_input_b" placeholder="Room" required="required"></div>
                          </div>
                          <div><button class="booking_button trans_200">Book Now</button></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Home Slider Dots -->
      <div class="home_slider_dots_container">
        <div class="home_slider_dots">
          <ul id="home_slider_custom_dots" class="home_slider_custom_dots d-flex flex-row align-items-start justify-content-start">
            <li class="home_slider_custom_dot active">01.</li>
            <li class="home_slider_custom_dot">02.</li>
            <li class="home_slider_custom_dot">03.</li>
          </ul>
        </div>
      </div>

    </div>
  </div>



  <!--====  End of Page Slider  ====-->


  <section class="service-overview section">
    <div class="container">
      <div class="row">

        <div class="content-block" >
          <h2>Program</h2>

        </div>

        <div class="col-md-6">
          <div class="accordion-section">
            <div class="accordion-holder">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        8:00-9:00     Accueil et inscription
                      </a>
                    </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                         aria-controls="collapseTwo">
                        9:00-9:15     Session d'ouverture
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                      <ul class="ul">
                        <li class="li">
                          Dr.Chafik Abid Fondateur et directeur de l'IIT
                        </li>
                        <li class="li">
                          M.Adel Khabtheni Gouverneur de sfax
                        </li>
                        <li class="li">
                          M.Fetah krichen ,Directeur Technopole de sfax
                        </li>
                        <li class="li">
                          M.Ahmed Ben Messaoud, Peésident UPMI
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                         aria-controls="collapseThree">
                        9:15-10:00      Débat sur l'Industrie du futur
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                      <ul class="ul">
                        <li class="li">
                          M.Fetah krichen ,Directeur Technopole de sfax
                        </li>
                        <li class="li">
                          M.Wassim Zouari, Vice-Président de la Minicipalité de sfax
                        </li>
                        <li class="li">
                          M.Abdelaziz Makhlouf, Chef D'entreprise, CHO
                        </li>
                        <li class="li">
                          M.Rochdi Ellouze ,Sous-Directeur ,Groupe Triki
                        </li>
                        <li class="li">
                          M.Hatem jarraya ,Directeur ,Freedom Of Dev
                        </li>
                        <li class="li">
                          M.Ilyes Zouari ,Directeur ,Groupe ZEN
                        </li>
                        <li class="li">
                          M.Ameur Abdennadher ,Géeant ,Groupe CEFER
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading4">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false"
                         aria-controls="collapseTwo">
                        10:00-10:30     Session 1 Diditalisation des usines:potentiels et conditions de succé
                      </a>
                    </h4>
                  </div>
                  <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                    <div class="panel-body">
                      <ul class="ul">

                        <li class="li">
                          M.Lassaad Belhiba ,Directeur DATAXION ,Groupe poulina Holsing
                        </li>
                        <li class="li">
                          M.Mahjoub langar ,Responsable sécurité de l'information DATAXION
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading5">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false"
                         aria-controls="collapse5">
                        10:30-11:30     Session 2 Appui a la transition vers l'industrie 4.0 : Smart Grid and Energy Efficiency                         </a>
                    </h4>
                  </div>
                  <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                    <div class="panel-body">
                      <ul class="ul">
                        <li class="li">
                          M.Cai Sheng Senior Director of energy Sector ,HUAWEI
                        </li>
                        <li class="li">
                          M.Houssem Aouinit ,IT Solution Sales Manager ,HUAWEI
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading6">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false"
                         aria-controls="collapse6">
                        11:30-12:00     Piéce théatrale :Forum des métiers
                      </a>
                    </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading8">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false"
                         aria-controls="collapse8">
                        12:00-12:30     Pause Brunch
                      </a>
                    </h4>
                  </div>

                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading7">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false"
                         aria-controls="collapse7">
                        12:30-13:00      Session 3 l'industrie 4.0 : Facteurs clés pour réussir la mutation vers l'indutrie 4.0
                      </a>
                    </h4>

                  </div>
                  <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body">
                      <ul class="ul">

                        <li class="li">
                          M.Mouhamed louati Directeur général LOGIDAS
                        </li>
                        <li class="li">
                          Mme.Emna Gaddour Expert en energie GIZ-STEG
                        </li>
                      </ul>

                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading9">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false"
                         aria-controls="collapse9">
                        13:00-14:00      Table rond :Dévelopement des compétences :Succes Stories
                      </a>
                    </h4>
                  </div>
                  <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="panel-body">
                      <ul class="ul">

                        <li class="li">
                          M.Mouhamed louati Directeur général LOGIDAS
                        </li>
                        <li class="li">
                          Mme.Emna Gaddour Expert en energie GIZ-STEG
                        </li>

                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading10">
                    <h4 class="panel-title">
                      <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false"
                         aria-controls="collapse10">
                        14:00-14:30     Session cloture
                      </a>
                    </h4>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
  </section>


  <!--footer-main-->
  <!--footer-main-->
<app-footer></app-footer>  <!--End footer-main-->
</div>
<!--End pagewrapper-->


<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".header-top">
  <span class="icon fa fa-angle-up"></span>
</div>
